asgiref==3.9.1
crispy-bootstrap5==2025.6
Django==5.2.6
django-allauth==65.11.1
django-ckeditor==6.7.3
django-crispy-forms==2.4
django-js-asset==3.1.2
pillow==11.3.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
