{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "contact with us" %}{% endblock %}

{% block content %}
<section class="min-h-screen flex items-center justify-center bg-gradient-to-r from-yellow-100 via-yellow-50 to-green-100 py-8 mb-10">
  <div class="container mx-auto px-6 max-w-5xl">
    <h1 class="text-4xl font-extrabold text-gray-800 mb-6">
      {% trans "contact with us" %}
    </h1>
    <p class="text-gray-700 leading-relaxed text-lg mb-10">
      {% trans "If you have any questions, suggestions, or requests, please contact us via the form below or contact information." %}
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <form method="POST" class="bg-gradient-to-r from-yellow-100 via-yellow-50 to-green-100 backdrop-blur-md shadow-xl rounded-2xl p-8 w-full max-w-md">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit"
          class="w-full bg-gradient-to-r from-yellow-400 to-yellow-600 hover:bg-yellow-700 text-white py-2 rounded-xl font-semibold transition">
          {% trans "send message" %}
        </button>
      </form>

      <div class="bg-gradient-to-r from-yellow-100 via-yellow-50 to-green-100 backdrop-blur-md shadow-xl rounded-2xl p-8 w-full max-w-md">
        <h3 class="text-2xl font-bold text-gray-800">{% trans "contact info" %}</h3>
        <p class="text-gray-600">{% trans "We are always responsive to you." %} ❤️</p>

        <div>
          <p class="font-semibold text-gray-800">📞 {% trans "tel" %}:</p>
          <p class="text-gray-700">0123456789</p>
        </div>

        <div>
          <p class="font-semibold text-gray-800">📧 {% trans "email" %}:</p>
          <p class="text-gray-700">support@mango.com</p>
        </div>

        <div>
          <p class="font-semibold text-gray-800">📍 {% trans "address" %}:</p>
          <p class="text-gray-700">{% trans "iran" %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
