{% load i18n %}
{% load static %}
<footer class="bg-gray-900 text-gray-300 mt-12">
  <div class="container mx-auto px-6 py-10 grid grid-cols-1 md:grid-cols-3 gap-8 text-right">
    <div>
      <h3 class="text-lg font-semibold text-white mb-4">Mango</h3>
      <p class="text-sm">
        {% trans "A minimalist and modern online shopping experience" %}
      </p>
    </div>

    <div>
      <h3 class="text-lg font-semibold text-white mb-4"> {% trans "Quick Links" %}</h3>
      <ul class="space-y-2">
        <li><a href="{% url 'shop:product_list' %}" class="hover:text-white">{% trans "shop" %}</a></li>
        <li><a href="{% url 'pages:about' %}" class="hover:text-white"> {% trans "about us" %}</a></li>
        <li><a href="{% url 'pages:contact' %}" class="hover:text-white">  {% trans "conact with us" %}</a></li>
      </ul>
    </div>

  <div class="border-t border-gray-700 text-center py-4 text-sm">
    © {% now "Y" %} {% trans "Mango Store. All rights reserved." %}
  </div>
</footer>
